:root {
    --couleur-primaire : #53606C;
}

body {
color: #fff;
background-color:#1f222a;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

a {
color: #ac3d31;
}

h1 {
color: #ac3d31;
}

h2 {
color: #ac3d31;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

h3 {
color: #ac3d31;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

table, td, th {
  border: 1px solid #e2af78;
}

table {
  width: 100%;
  border-collapse: collapse;
}

footer, .skip-links{
    display: none;
}

nav ul::before {
  content: "🐝";
  width: 25px;
}

body {
  text-align: center;
}

header, H1 {
    display: none;
}

main a {
  background-color: #000;
  padding: 15px;
  margint: 15px;
  width: 80%;
  text-align: center;
  border: 0px solid #888;
  border-radius: 5px;
  text-decoration: none
}

main ul {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  margin: 15px;
  padding: 0;
  min-width: 350px;
  text-align: center
}

main li a {
  display: inline-block;
  font-size: 18px;
  color: #ac3d31;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  text-decoration: none
}

main img {
  border-radius: 50%;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* Change the link color on hover */
main li a:hover {
  background-color: #333;
}